body{
margin:0;
font-family:Segoe UI;
}


/* BACKGROUND */

.research-bg{
background: linear-gradient(135deg,#1e88e5,#ff9800);
min-height:100vh;
}


/* TITLE */

.dashboard-title{
text-align:center;
color:white;
padding-top:20px;
}


/* CARD GRID */

.card-container{

width:85%;
margin:40px auto;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}


/* CARDS */

.feature-card{

background:white;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,0.2);

transition:0.3s;

}


.feature-card img{

width:80px;

margin-bottom:15px;

}


.feature-card h3{

color:#6a1b9a;

}


.feature-card a{

background:#8e24aa;

color:white;

padding:8px 20px;

border-radius:8px;

text-decoration:none;

}


.feature-card:hover{

transform:scale(1.07);

}