<!DOCTYPE html>
<html>
<head>
<title>Analyze Information</title>
<link rel="stylesheet" href="{{ url_for('static', filename='research_style.css') }}">
</head>

<body class="research-bg">

<div class="topbar">
<div class="logo">📊 MediBlock</div>
<div class="logout"><a href="/research_home">Back</a></div>
</div>

<h2 class="dashboard-title">Analyze Medical Information</h2>

<table>

<tr>
<th>Patient ID</th>
<th>Disease</th>
<th>Treatment</th>
<th>Date</th>
</tr>

{% for row in data %}

<tr>
<td>{{row[0]}}</td>
<td>{{row[1]}}</td>
<td>{{row[2]}}</td>
<td>{{row[3]}}</td>
</tr>

{% endfor %}

</table>

</body>
</html>