<!DOCTYPE html>
<html>
<head>
<title>🏥 MediBlock</title>
<link rel="stylesheet" href="{{ url_for('static', filename='insurance_style.css') }}">
</head>

<body class="insurance-bg">

<h2 class="dashboard-title">🏥 MediBlock</h2>

<div class="card-container">

<div class="feature-card">
<h3>Verify Policy</h3>
<a href="/verify_policy">Open</a>
</div>

<div class="feature-card">
<h3>Receive Claim</h3>
<a href="/receive_claim">Open</a>
</div>

<div class="feature-card">
<h3>Validate Claim</h3>
<a href="/validate_claim">Open</a>
</div>

<div class="feature-card">
<h3>Approve / Reject</h3>
<a href="/approve_claim">Open</a>
</div>

<div class="feature-card">
<h3>Update Payment</h3>
<a href="/update_payment">Open</a>
</div>

</div>

</body>
</html>