<!DOCTYPE html>
<html>
>
<head>
    <title>MediBlock Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container">
    <div class="card">
        <h1>🏥 MediBlock</h1>
        <h3 style="text-align:center;">Secure Healthcare Blockchain</h3>

        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" required>

            <input type="password" name="password" placeholder="Password" required>

            <select name="role" required>
                <option value="">Select Role</option>
                <option value="admin">Admin</option>
                <option value="doctor">Doctor</option>
                <option value="patient">Patient</option>
                <option value="insurance">Insurance</option>
            </select>

            <button type="submit">Login</button>
        </form>

        <p style="text-align:center;margin-top:10px;">
            New user? <a href="/register" style="color:#00d2ff;">Register here</a>
        </p>
    </div>
</div>
</body>
</html>
