<!DOCTYPE html>
<html>
<head>
<title>Submit Findings</title>
<link rel="stylesheet" href="{{ url_for('static', filename='research_style.css') }}">
</head>

<body class="research-bg">

<div class="topbar">
    <div class="logo">📊 MediBlock</div>
    <div class="logout"><a href="/research_home">Back</a></div>
</div>

<div class="form-container">

<h2>Submit Research Findings</h2>

<form method="POST">

<input type="text" name="title" placeholder="Enter Finding Title" required>

<textarea name="details" placeholder="Enter Details" required></textarea>

<button type="submit">Submit</button>

</form>

</div>

</body>
</html>