<!DOCTYPE html>
<html>
<head>

<title>Treatment History</title>

<link rel="stylesheet" href="{{ url_for('static', filename='doctor_style.css') }}">

<style>

table{
    width:80%;
    margin:auto;
    background:white;
    border-collapse:collapse;
}

th,td{
    padding:12px;
    border:1px solid #333;
    text-align:center;
}

th{
    background:#1976d2;
    color:white;
}

</style>

</head>

<body class="staff-bg">

<!-- TOP BAR -->
<div class="topbar">

    <div class="logo">
        🏥 MediBlock
    </div>

    <div class="logout">
        <a href="/doctor">Back</a>
    </div>

</div>

<!-- TITLE -->
<h2 class="dashboard-title">Treatment History</h2>

<!-- TABLE -->
<table>

<tr>
    <th>Patient ID</th>
    <th>Doctor</th>
    <th>Treatment Details</th>
    <th>Hash Key</th>
</tr>

{% if history %}

    {% for t in history %}
    <tr>
        <td>{{ t.patient }}</td>
        <td>{{ t.doctor }}</td>
        <td>{{ t.decrypted }}</td>
        <td style="font-size:10px; word-break:break-all;">
            {{ t.hash }}
        </td>
    </tr>
    {% endfor %}

{% else %}

<tr>
    <td colspan="4">No Treatment Records Found</td>
</tr>

{% endif %}

</table>

</body>
</html>