<!DOCTYPE html>
<html>
<head>

<title>Treatment History</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<style>

table{
width:80%;
margin:auto;
background:white;
border-collapse:collapse;
}

th,td{
padding:12px;
border:1px solid #333;
text-align:center;
}

th{
background:#1976d2;
color:white;
}

</style>

</head>

<body class="staff-bg">

<div class="topbar">

<div class="logo">
🏥 MediBlock
</div>

<div class="logout">
<a href="/doctor">Back</a>
</div>

</div>

<h2 class="dashboard-title">Treatment History</h2>

<table>

<tr>
<th>Patient ID</th>
<th>Doctor</th>
<th>Treatment Details</th>
<th>Hash Key</th>
</tr>

{% for t in history %}

<tr>

<td>{{ t.patient_id }}</td>
<td>{{ t.doctor }}</td>
<td>{{ t.treatment }}</td>
<td>{{ t.hash }}</td>

</tr>

{% endfor %}

</table>

</body>
</html>