<!DOCTYPE html>
<html>
<head>
<title>Upload Medical Report</title>
<link rel="stylesheet" href="{{ url_for('static', filename='doctor_style.css') }}">
</head>

<body class="staff-bg">

<div class="topbar">
<div class="logo">🏥 MediBlock</div>

<div class="logout">
<a href="/doctor">Back</a>
</div>

</div>

<h2 class="dashboard-title">Upload Medical Report</h2>

<form method="POST" enctype="multipart/form-data"
style="width:40%;margin:auto;background:white;padding:30px;border-radius:10px">

<label>Patient ID</label><br>
<input type="text" name="pid" required><br><br>

<label>Select Report</label><br>
<input type="file" name="report" required><br><br>

<input type="submit" value="Upload">

</form>

{% if message %}
<p style="text-align:center;color:green">{{ message }}</p>
{% endif %}

</body>
</html>